@import url('../base/variables.css');

/* ==========================================================================
   About Container
   ========================================================================== */

.about {
    padding-top: var(--padding-section-top);
    padding-bottom: var(--padding-section-bottom);
}

.about__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.about__container img {
    max-width: 16.25rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.375rem;
    max-width: 16.875rem;
}

.about__title {
    text-align: center;
    max-width: 16ch;
}

.about__text {
    color: var(--color-dark-l);
    font-size: 0.9375rem;
    line-height: 1.6;
    text-align: justify;
}


@media (min-width: 48rem) {

    /* ==========================================================================
       About Container
       ========================================================================== */
   
    .about {
        padding-top: 5rem;
        padding-bottom: 6.25rem;
    }

    .about__container {
        gap: 5rem;
    }

    .about__content {
        align-items: flex-start;
        max-width: 26.875rem;
    }
    
    .about__title {
        text-align: left;
    }

    .about__text {
        text-align: left;
    }

    .about__container img {
        max-width: 18.75rem;
    }
}

@media (min-width: 80rem) {
    
    /* ==========================================================================
       About Container
       ========================================================================== */
    
    .about {
        padding-top: var(--padding-section-top);
        padding-bottom: var(--padding-section-bottom);
    }
    
    .about__content {
        align-items: flex-start;
    }

    .about__container {
        flex-direction: row;
        gap: 7.20rem;
    }
    
    .about__title {
        text-align: left;
    }
}
