@import url('../base/variables.css');

/* ==========================================================================
   DONATION
   ========================================================================== */
@import url('../base/variables.css');

/* ==========================================================================
   DONATION
   ========================================================================== */

.donation {
    padding-top: var(--padding-section-top);
    padding-bottom: var(--padding-section-bottom);
    background: var(--color-background-gray);
    max-height: 462px;
}

.donation__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}


.donation__image {
    flex-shrink: 0;
    width: 505px;
}

.donation__image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Text block */
.donation__content {
    max-width: 380px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.donation__title {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-h3);
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation__bank {
    font-family: var(--font-family-sans);
    font-size: 0.9375rem;
    color: var(--color-dark-l);
    line-height: 1.1;
    letter-spacing: 0.06em;
    margin: 0;
}

.donation__card {
    display: inline-flex;
    align-items: center;
    max-height: 43px;
    gap: 0.9375rem;
    background-color: var(--color-primary);
    border-radius: 9px;
    padding: 0.625rem 0.9375rem;
    align-self: flex-start;
}

.donation__icon {
    flex-shrink: 0;
    color: var(--color-dark-3xl);
}

.donation__number {
    font-family: var(--font-family-serif);
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    color: var(--color-dark-3xl);
}

.donation__legal {
    font-family: var(--font-family-sans);
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0;
    color: var(--color-dark-m);
    max-width: 65ch;
}
