@import url('../base/variables.css');
@import url('gradient.css');

/* ==========================================================================
   Header Container
   ========================================================================== */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);
}

/* ==========================================================================
   Logo & Subtitle
   ========================================================================== */

.header__subtitle {
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
    margin-top: 9px;
    text-align: center;
    
    color: var(--color-light-xl)
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.header__nav {
    display: flex;
    justify-content: space-between;
    gap: 2.1875rem;
}


/* Navigation Links */
.header__nav a {
    color: var(--color-dark-s);
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
}

/* Hover state */
.header__nav a:hover {
    color: var(--color-light-s);
    border-bottom-color: var(--color-primary);
}
