@import url('../base/variables.css');

/* ==========================================================================
   ICON
   ========================================================================== */

.icon {
    color: var(--color-dark-3xl);
    stroke: none;
}

.icon--arrow-left {
    transform: rotate(90deg);
}

.icon--arrow-right {
    transform: rotate(-180deg);
}
