@import url('../base/variables.css');

/* ==========================================================================
   PETS CONTAINER
   ========================================================================== */

.pets {
    background: var(--color-background-gray) ;
}

.pets__container {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    align-items: center;

    padding-top: var(--padding-section-top);
    padding-bottom: var(--padding-section-bottom);
}

.pets__title {
    max-width: 28rem;
    
    margin: 0 auto;
    
    text-align: center;
}

.pets__title--dark {
    color: var(--color-dark-l);
}

.pets__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.pets__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5.625rem;
}

.pet-card {
    max-width: 270px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    
    background-color: var(--color-light-s);
    padding-bottom: 1.875rem;

    cursor: pointer;
    transition: all 0.3s ease;
}

.pet-card:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
}

.pet-card__figure {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.pet-card__name {
    font-family: var(--font-family-serif);
    font-size: 1.25rem;
    letter-spacing: 0.06em;
    text-align: center;
    line-height: 1;
    color: var(--color-dark-l);

    transition: color 0.3s ease;
}

.pet-card img {
    aspect-ratio: 270/270;
}

/* ==========================================================================
   PETS PAGE
   ========================================================================== */

/* Modifier for pets page – 4 columns */
.pets__grid--4cols {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.875rem;
    column-gap: 2.5rem;
}

.pets__pagination {
    display: flex;
    gap: 20px;
    align-items: center;
}

.pets__pagination--text {
    font-family: var(--font-family-serif);
    font-size: 1.25rem;
    line-height: 1.14;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl);
}
