@import url('../base/variables.css');

/* ==========================================================================
   DONATION
   ========================================================================== */

.donation {
    padding-block: var(--padding-section-top) var(--padding-section-bottom);
    
    background: var(--color-background-gray);
}

.donation__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2.625rem;
}

.donation__image {
    flex-shrink: 0;
    max-width: 16.25rem;
}

.donation__image img {
    display: block;
    width: 100%;
    height: auto;
}

.donation__content {
    max-width: 23.75rem;
    flex: 1; 
    display: flex;
    min-height: 17.5625rem;
    flex-direction: column;
    gap: 1.25rem;
}

.donation__title {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-h3);
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation__bank {
    font-family: var(--font-family-sans);
    font-size: 0.9375rem;
    text-align: center;
    color: var(--color-dark-l);
    line-height: 1.1;
    letter-spacing: 0;
    max-width: 17.5625rem;
}

.donation__card {
    padding: 0.625rem 0.9375rem;
    max-height: 2.6875rem;
    
    display: inline-flex;
    align-items: center;
    gap: 0.9375rem;
    
    background-color: var(--color-primary);
    border-radius: 9px;

    align-self: center;
}

.donation__icon {
    flex-shrink: 0;
    color: var(--color-dark-3xl);
}

.donation__number {
    font-family: var(--font-family-serif);
    font-size: 0.9375rem;
    letter-spacing: 0.06em;
    
    color: var(--color-dark-3xl);
}

.donation__legal {
    text-align: justify;
    max-width: 17.5rem;
    font-family: var(--font-family-sans);
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0;
    color: var(--color-dark-m);
}

@media (min-width: 48rem) {
    .donation {
        padding-block: 5rem 6.25rem;
    }
    
    .donation__container {
        gap: 3.75rem;
    }
    
    .donation__image {
        max-width: 31.5625rem;
    }
    
    .donation__content {
        align-items: flex-start;
        min-width: 23.75rem;
    }
    
    .donation__title {
        text-align: left;
    }
    
    .donation__card {
        align-self: flex-start;
    }

    .donation__bank {
        text-align: left;
        letter-spacing: 0.06em;
        min-width: 19.375rem;
    }
    
    .donation__number {
        font-size: 1.25rem;
    }
    
    .donation__legal {
        text-align: start;
        max-width: 23.75rem;
    }
}

@media (min-width: 80rem) {
    .donation__container {
        flex-direction: row;
        gap: 1.875rem;
    }
    
    .donation__image {
        max-width: 31.5625rem;
    }

    .donation__card {
        align-self: flex-start;
    }
}
