@import url('../base/variables.css');

/* ==========================================================================
   FOOTER (GRID VERSION)
   ========================================================================== */

.footer__container {
    display: grid;
    gap: 2.5rem;
    align-items: start;
}

/* TITLE */
.footer__title {
    max-width: 18.125rem;
    margin: 0;
    font-family: var(--font-family-serif);
    font-size: 1.5625rem;

    color: var(--color-light-xl);

    text-align: center;
}

.footer__column {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

.footer__column:first-child {
    margin-top: 1.75rem;
}

/* LIST CONTACTS */
.footer__contact-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    gap: 2.5rem;
}

.footer__column:first-child {
    align-items: center;
}

/* ELEMENT LIST (ICON + TEXT) */
.footer__contact-item {
    min-height: 2rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

/* ICON */
.footer__icon {
    flex-shrink: 0;
    fill: var(--color-primary);
}

/* LINK & ADDRESS */
.footer__link,
.footer__address {
    font-family: var(--font-family-serif);
    font-size: 1.25rem;
    line-height: 1.14;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-decoration: none;
    font-style: normal;
    word-break: break-word;
}

/* ==========================================================================
   COLUMN IMAGE
   ========================================================================== */

.footer__image {
    height: 16.8125rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: end;
}

.footer__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 48rem) {
    .footer__container {
        grid-template-columns: 20rem auto;
        gap: 4.0625rem 3.75rem;
    }

    .footer__column:first-child {
        min-width: 17.375rem;
        align-items: flex-start;
        margin-left: 2.125rem;
        margin-top: 0;
    }

    .footer__column:nth-child(2) {
        align-items: flex-start;
        min-width: 19rem;
    }

    .footer__title {
        margin-top: 1.875rem;
        
        font-size: 2.1875rem;
        text-align: left;
    }

    .footer__image {
        grid-column: 1 / -1;
        justify-self: center;
        margin-left: 0;
        width: 18.75rem;
        height: 19.375rem;
    }

    .footer__column:nth-child(2) {
        gap: 2.0625rem;
    }

    .footer__column:nth-child(2) .footer__contact-list {
        gap: 2rem;
    }
}

@media (min-width: 80rem) {
    .footer__container {
        grid-template-columns: 17.5rem auto auto;
        gap: 10rem;
    }

    .footer__title {
        margin: 0;
        font-size: 2.1875rem;
        line-height: 1.3;
        letter-spacing: 0.06em;
    }

    .footer__column {
        margin-top: 3.5rem;
        margin-bottom: 3.75rem;
    }

    .footer__column:first-child {
        margin: 3.5rem 0 0 0;
    }

    .footer__column:nth-child(2) {
        gap: 2.125rem;
        margin-left: 0;
    }

    .footer__image {
        grid-column: auto;
        justify-self: auto;
        margin-left: auto;
        margin-right: 0;
        margin-top: 2.5rem;
    }
}
